.main {
  width: 80%;
  margin: 40px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px;
  border-radius: 10px;
}

.add {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.add button {
  width: 15%;
  height: 35px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.add button:hover {
  background-color: rgb(252, 252, 59);
}

.add input {
  width: 70%;
  padding: 0;
  font-size: 1.1rem;
}

.list {
  display: flex;
  flex-direction: column;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.edit-delete {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.edit-delete * {
  scale: 1;
}

.edit-delete *:hover {
  scale: 1.2; 
}

.editing {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.editing input {
  font-size: 1.2rem;
  width: 200px;
}

.editing button {
  background-color: white;
  width: fit-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  scale: 1;
}

.editing button:hover {
  scale: 1.2;
}

.buttons {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

@media (width < 450px) {
  .buttons {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
  }
}
